@import '../../styles/shared/colors';

.sform-group {
    grid-column: 1 / span 2;
    width: 100%;

    display: grid;
    grid-template-rows: min-content min-content 2rem;
    justify-items: center;
    
    &__label {

        text-transform: uppercase;
        color: goldenrod;
        font-weight: 700;
        font-size: 1.3rem;
        margin-left: 0.5rem;
        display: block;
        
        justify-self: start;
    }
    
    &__input {
        width: 100%;
        min-height: 3.5rem;
        padding-left: 0.5rem;
        color: inherit;    
        border: none;
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: inherit;
        background-color: $gray-400;
        border-radius: 3px;
        box-shadow: 0 1rem 2rem rgba(black, .3);
        transition: all ease .3s;
        
        &:focus {
            outline-color: $black;    
            box-shadow: 0 1rem 2rem rgba($black, .7);
            background-color: $white;
        }
    }

    &__error {
        justify-self: end;
    }
 
}