@import '../../styles/shared/colors';

.sform-group-present {
    width: 100%;
    margin-top: 1rem;
    
    // grid-column: 1 / span 3;
    // justify-self: end;
    // align-self: center;

    display: grid;
    grid-template-columns: 1fr repeat(2, min-content);
    // align-items: center;
    // align-content: center;

    &::before {
        content: "";
        background-color: goldenrod;
        display: block;
        height: 1px;
    }

    &__label {
        margin-left: 2rem;
        color: goldenrod;
        font-weight: 700;
        font-size: 1.3rem;
        display: block;
        text-transform: uppercase;
        transform: translateY(0.18rem);
    }

    &__input {
        display: block;
        margin-left: 0.7rem;
    }
}

.sform-group-startDate {
    margin-top: 2rem;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: min-content min-content 2rem;
    justify-content: start;
}

.sform-group-endDate {
    margin-top: 2rem;
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: min-content min-content 2rem;
    justify-content: start;


}

// .endDate--hide {
//     display: none;
// } 

// .endDate--show {
//     display: block;
// } 