@import '../../styles/shared/colors';

.sform-group-present {
    grid-column: 1 / -1;
    justify-self: stretch;

    display: grid;
    grid-template-columns: 1fr repeat(2, min-content);
    align-items: center;
    
    &::before {
        content: "";
        background-color: goldenrod;
        display: block;
        height: 1px;
    }

    &__label {
        margin-left: 2rem;
        color: goldenrod;
        font-weight: 700;
        font-size: 1.3rem;
        display: block;
        text-transform: uppercase;
        transform: translateY(0.18rem);
    }

    &__input {
        display: block;
        margin-left: 0.7rem;
    }
    
}
