@import './shared/colors';

// HEADER
// Same as below
// .port-navbar {

/* more detail */
//   &.port-nave-base {
//   }

// }


/* 
  index 질문 할 것!!!!!!

*/
.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;
  padding: 4rem;

  .port-navbar {
    &-brand {
      color: white;
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: bold;
    }

    &-item {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &-link {
      color: white; 
      font-weight: bold;
      letter-spacing: 0.08rem;
      font-size: 1.8rem;
      text-transform: uppercase;

      &.active {
      color: #dba919;
      }

      &:hover, &:focus {
        color: #dba919;
      }
    }
  }
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 30px;
  background-color: $secondary !important;
}
