// Shared
@import './index';
@import './header';
@import './shared/fonts';
@import './shared/colors';
// @import './portfolios';

@import '../pages/pages';

// component


// html, body {
//   // !: to prevent bootstrap override the css / scss
//   // Now, Montserrat is inherited or otherwise Helvetica
//   // font-family: 'Montserrat', 'Helvetica' !important;

//   // Since change the order of bootstrap and scss,
//   // and scss is overriding bootstrap, 
//   // We do not need to use important!
//   font-family: 'Montserrat', 'Helvetica';
//   height:100%;
//   width:100%;

// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', 'Helvetica';
    // color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: white;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 15rem;
  color: $black;
  font-weight: 400;
  background-color: lightgray;
  min-height: 100vh;
  .page-header {
    &__title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.error {
  padding-left: 0.3rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  color: $orangered;
  font-weight: 700;
}
