@import './shared/fonts';
@import './_index';


html, body {
  // !: to prevent bootstrap override the css / scss
  // Now, Montserrat is inherited or otherwise Helvetica
  // font-family: 'Montserrat', 'Helvetica' !important;

  // Since change the order of bootstrap and scss,
  // and scss is overriding bootstrap, 
  // We do not need to use important!
  font-family: 'Montserrat', 'Helvetica';
  height:100%;
  width:100%;

}
